<!-- <form action="" method="post">
    {%csrf_token%}
    {{form.as_p}}
    <button type="type">Login</button>
</form> -->

    {% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <title>Pagina De login</title>
</head>
<body>
    <div class="container">
        
        {% bootstrap_messages %}
        <h1>Login</h1>
        <form 
        method="post" 
        enctype="multipart/form-data"
        >
        {% csrf_token %}
        {% bootstrap_form form %}
            {% buttons %} 
                <button class='btn btn-primary' type="submit">Login</button>
            {% endbuttons %}    
        </form>
        {% bootstrap_javascript jquery='full' %}
        Se voce não tiver conta registre-se<a href="{% url 'register'%}">Registrar</a>
    </div>
</body>
</html>