{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <title>Cadastrar Postagem</title>
</head>
<body>
    <div class="container">
        {% bootstrap_messages %}
        <h3>Você Confirma que esse é o seu nomero de celular ? </h3>
        <form 
        action="{% url 'twilio' %}" 
        method="post" 
        enctype="multipart/form-data"
        >
        {% csrf_token %}
            {% buttons %} 
                <input type="text" name="number" value="{{user}}">
                <button class='btn btn-primary' type="submit">Confirmar</button>
            {% endbuttons %}    
        </form>
        {% bootstrap_javascript jquery='full' %}
    </div>
</body>
</html>