{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <title> Pagina de Votação</title>
</head>
<body>
    <div class="container">
        <a href="{% url 'logout'%}">Sair </a> <br>
        Cadastre a sua postagem para concorrer ao premio <a href="{% url 'postagem' %}"> Clique aqui</a><br>
        {% if user.is_false %}
            <h1>Ja possui cafastro</h1>
        {% else %}
            <a href="{% url 'auth' %}">Autenticar</a>
        {% endif %}
         {% bootstrap_messages %}
        <h1>Publicações</h1>
            {% for postagem in postagens %}
                    <h3>{{postagem.titulo}} </h3>
                        <img src="{{postagem.imagem.url}}" alt="{{postagem.titulo}}"/>
                        <br>
                    <small> Descrição: {{postagem.descricao}} </small><br>
                    <p>Autor: {{postagem.autor.first_name}} {{postagem.autor.last_name}}  </p>
                    <button type="submit"><a href="{% url 'voto' postagem.id  %}"> Votar </a></button>
                    <p>Essa Publicação possui: {{postagem.votos}} votos</p>
            {% endfor %}
    </div>
    {% bootstrap_javascript jquery='full' %}
</body>
</html>