{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <title>Cadastrar Postagem</title>
</head>
<body>
    <div class="container">
        
        {% bootstrap_messages %}
        <h1>Cadastre Sua Postagem Aqui</h1>
        <form 
        action="{% url 'postagem' %}" 
        method="post" 
        enctype="multipart/form-data"
        >
        {% csrf_token %}
        {% bootstrap_form form %}
            {% buttons %} 
                <button class='btn btn-primary' type="submit">Cadastrar Publicação</button>
            {% endbuttons %}    
        </form>
        {% bootstrap_javascript jquery='full' %}
    </div>
</body>
</html>